
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="card-box" style=" width: 100%; ">

        <ul class="nav nav-pills navtab-bg nav-justified">
            <li class="nav-item">
                <a href="#home1" data-toggle="tab" aria-expanded="false" class="nav-link">
                    Description
                </a>
            </li>
            <li class="nav-item">
                <a href="#profile1" data-toggle="tab" aria-expanded="true" class="nav-link active">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a href="#messages1" data-toggle="tab" aria-expanded="false" class="nav-link">
                    Status
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="home1">
                <p class="mb-0">
                    Stack Overflow is a question and answer site for professional and enthusiast programmers. It is a privately held website, the flagship site of the Stack Exchange Network, created in 2008 by Jeff Atwood and Joel Spolsky. It features questions and answers on a wide range of topics in computer programming. It was created to be a more open alternative to earlier question and answer sites such as Experts-Exchange. The name for the website was chosen by voting in April 2008 by readers of Coding Horror, Atwood's popular programming blog.
                </p>
            </div>
            <div class="tab-pane show active" id="profile1">
                <p style=" text-align: center; "><img style=" height: 200px; " src="https://s3.amazonaws.com/media.eremedia.com/uploads/2012/08/24111405/stackoverflow-logo-700x467.png" /></p>

            </div>
            <div class="tab-pane" id="messages1">
                <div class="col-lg-4 col-md-6">
                    <p class="sub-header">
                       status of thread
                    </p>

                    <div class="checkbox checkbox-dark checkbox-circle mb-2">
                        <input id="checkbox-15" type="checkbox" checked="">
                        <label for="checkbox-15">
                            Dark
                        </label>
                    </div>
                    <button type="button" class="btn btn-light waves-effect width-md">Save</button>
                </div>
            </div>
        </div>
    </div> <!-- end card-box-->
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card-box ribbon-box">
            <div class="ribbon ribbon-dark float-left">Tag</div>
            <div class="ribbon-content">
                <p class="mb-0">Quisque nec turpis at urna dictum luctus. Suspendisse convallis dignissim eros at volutpat. In egestas mattis dui. Aliquam mattis dictum aliquet. Nulla sapien mauris, eleifend et sem ac, commodo dapibus odio.</p>
            </div>

        </div> <!-- end card-box-->
    </div> <!-- end col-->

    <div class="col-lg-4">
        <div class="card-box ribbon-box">
            <div class="ribbon ribbon-primary float-left">Link</div>
            <div class="ribbon-content button-list">
                <button type="button" class="btn btn-outline-primary btn-rounded waves-effect waves-light width-md">All questions </button>
                <button type="button" class="btn btn-outline-purple btn-rounded waves-effect waves-light width-md">Setting </button>
                <button type="button" class="btn btn-outline-secondary btn-rounded waves-effect waves-light width-md">All tags</button>
                <button type="button" class="btn btn-outline-success btn-rounded waves-effect waves-light width-md">Add new tag</button>
            </div>
        </div> <!-- end card-box-->
    </div> <!-- end col-->

    <div class="col-lg-4">
        <div class="card-box ribbon-box">
            <div class="ribbon ribbon-success float-left">Statistics</div>
            <div class="ribbon-content">
                <div class="row text-center">
                    <div class="col-6 mb-3">
                        <h3 class="font-weight-light">8,459</h3>
                        <p class="text-muted text-overflow">Total Sales</p>
                    </div>
                    <div class="col-6 mb-3">
                        <h3 class="font-weight-light">584</h3>
                        <p class="text-muted text-overflow">Open Compaign</p>
                    </div>
                </div>
            </div>
        </div> <!-- end card-box-->
    </div> <!-- end col-->
</div>
