
@{
    ViewData["Title"] = "AboutCaro";
}
<section class="service_promo_area">
    <h1>AboutCaro</h1>
    <br />
    Sharp Assistance is YOUR brand new assistant. Here to support you in all of your business and lifestyle needs. We deal in anything and everything, from social media management, to diary management, from data inputting to document preparation.

    Set up in January 2016, Sharp Assistance is ran by Sam Abbiss, a young enthusiastic individual who loves to support people like you who have a passion for their business.

    Sam has worked within administration for numerous years, gaining herself 2 different NVQ Diplomas, in both Customer Service, and Business and Administration. Sam also attends seminars and online conferences to continuously keep her skill set up to date.

    Now into it’s 2nd year of business, Sharp Assitance has grown into a fantastic team of Virtual Assistants who all have a different passion. From social media, to call handling, from data inputting to accounts, at Sharp Assistance we have the right VA for you, ready and raring to go!

    Sharp Assistance believes in tailoring it’s services to fit YOUR needs. Why pay for a service that doesn’t suit what you want to achieve? Sharp Assistance offers you a flexible service, so that you make the most of your money. Who doesn’t love that concept? Contact us today with your current needs and let us design the right package for you. Whether it is a social media management package or a couple of hours sending invoices a quarter, whatever you need, Sharp Assistance can help!

    For more information about the services that Sharp Assistance can provide you, please visit our Services page for example services. Alternatively please feel free to contact me at  for a no obligation discussion.

</section>
