<section class="seo_home_area">
    <div class="home_bubble">
        <div class="bubble b_one"></div>
        <div class="bubble b_two"></div>
        <div class="bubble b_three"></div>
        <div class="bubble b_four"></div>
        <div class="bubble b_five"></div>
        <div class="bubble b_six"></div>
        <div class="triangle b_seven" data-parallax='{"x": 20, "y": 150}'><img src="~/Caro/img/seo/xtriangle_one.png.pagespeed.ic.W1Sg01AM8I.png" alt=""></div>
        <div class="triangle b_eight" data-parallax='{"x": 120, "y": -10}'><img src="~/Caro/img/seo/xtriangle_two.png.pagespeed.ic.8yTUEUDnmH.png" alt=""></div>
        <div class="triangle b_nine"><img src="~/Caro/img\seo\triangle_three.png.pagespeed.ce.pqYABVEJKZ.png" alt=""></div>
    </div>
    <div class="banner_top">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center seo_banner_content">
                    <h2 class="wow fadeInUp" data-wow-delay="0.3s">Drive More Customers<br> Through Digital</h2>
                    <p class="wow fadeInUp" data-wow-delay="0.5s">Chap fantastic skive off chancer knees up starkers easy peasy up the<br> kyver David, bleeding the BBC tomfoolery chimney.!</p>
                    <a href="#" class="seo_btn seo_btn_one btn_hover">Get Started</a>
                    <a href="#" class="seo_btn seo_btn_two btn_hover">Learn More</a>
                </div>
            </div>
            <div class="saas_home_img wow fadeInUp" data-wow-delay="0.8s">
                <img src="~/Caro/img\seo\ximage.png.pagespeed.ic._o3TgroIvN.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="seo_service_area sec_pad">
    <div class="container">
        <div class="seo_sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
            <h2>How does it work?</h2>
            <p>The full monty burke posh excuse my French Richard cheeky bobby spiffing crikey<br> Why gormless, pear shaped.!</p>
        </div>
        <div class="row seo_service_info">
            <div class="col-lg-4 col-md-6">
                <div class="seo_service_item">
                    <img src="~/Caro/img\seo\xicon1.png.pagespeed.ic.cjyWftiF6k.png" alt="">
                    <a href="#">
                        <h4>Digital Analytics</h4>
                    </a>
                    <p>Twit cras excuse my French matie boy grub it's all gone to pot off his nut butty horse play blow off pardon you hanky panky.!</p>
                    <a href="#"><i class="arrow_right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="seo_service_item">
                    <img src="~/Caro/img\seo\xicon2.png.pagespeed.ic.INc_piq5YV.png" alt="">
                    <a href="#">
                        <h4>Digital Marketing</h4>
                    </a>
                    <p>Twit cras excuse my French matie boy grub it's all gone to pot off his nut butty horse play blow off pardon you hanky panky.!</p>
                    <a href="#"><i class="arrow_right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="seo_service_item">
                    <img src="~/Caro/img\seo\xicon5.png.pagespeed.ic.jPq4iTRZMx.png" alt="">
                    <a href="#">
                        <h4>Email Marketing</h4>
                    </a>
                    <p>Twit cras excuse my French matie boy grub it's all gone to pot off his nut butty horse play blow off pardon you hanky panky.!</p>
                    <a href="#"><i class="arrow_right"></i></a>
                </div>
            </div>
            <div class="col-lg-12 text-center mt_40">
                <a href="#" class="seo_btn seo_btn_one btn_hover">All Features</a>
            </div>
        </div>
    </div>
</section>
<section class="seo_features_one sec_pad">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-6">
                <div class="seo_features_img">
                    <div class="round_circle"></div>
                    <div class="round_circle two"></div>
                    <img src="~/Caro/img\seo\xfeatures_img.png.pagespeed.ic.1y0BxVrMKi.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="seo_features_content">
                    <h2>Get tips & tricks on how to skyrocket your sales.</h2>
                    <p>Faff about only a quid blower I don't want no agro bleeding chimney pot burke tosser cras nice one boot fanny.!</p>
                    <div class="media seo_features_item">
                        <div class="icon"><img src="~/Caro/img\seo\icon4.png.pagespeed.ce.BazYu56gw8.png" alt=""></div>
                        <div class="media-body">
                            <h3>Reporting & Analysis</h3>
                            <p>Naff are you taking the piss say blow off faff about wellies richard.</p>
                        </div>
                    </div>
                    <div class="media seo_features_item">
                        <div class="icon two"><img src="~/Caro/img\seo\xicon3.png.pagespeed.ic.gRNwtP7Mz4.png" alt=""></div>
                        <div class="media-body">
                            <h3>Reporting & Analysis</h3>
                            <p>Naff are you taking the piss say blow off faff about wellies richard.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="seo_features_one sec_pad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="seo_features_img seo_features_img_two">
                    <div class="round_circle"></div>
                    <div class="round_circle two"></div>
                    <img src="~/Caro/img\seo\xfeatures_img_two.png.pagespeed.ic.WgPgQSfSW-.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center">
                <div class="seo_features_content">
                    <h2>Get tips & tricks on how to skyrocket your sales.</h2>
                    <h6>What a plonker bamboozled so I said say what a load of rubbish owt to do with me haggle.</h6>
                    <p>Cheeky bugger gosh codswallop chap bamboozled blatant cracking goal brown bread, pear shaped cor blimey guvnor easy peasy lemon squeezy hotpot spiffing good time, chancer a spend a penny spiffing I don't want no agro tinkety tonk old fruit.</p>
                    <a href="#" class="seo_btn seo_btn_one btn_hover">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="seo_subscribe_area">
    <div class="overlay_img"></div>
    <div class="cloud_img" style="background:url(img/seo/xcloud.png.pagespeed.ic.Xsekmmadfq.png) no-repeat"></div>
    <div class="container">
        <div class="seo_sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
            <h2>Check your Website’s SEO!</h2>
            <p>The full monty burke posh excuse my French Richard cheeky bobby spiffing crikey<br> Why gormless, pear shaped.!</p>
        </div>
        <form action="#" class="row seo_subscribe_form">
            <div class="input-group col-lg-5 col-md-5 col-sm-6">
                <input type="url" name="website" id="website" placeholder="Web URL" class="form-control">
            </div>
            <div class="input-group col-lg-5 col-md-4 col-sm-6">
                <input type="email" name="email" id="emails" placeholder="Email" class="form-control">
            </div>
            <div class="input-group col-lg-2 col-md-3 col-sm-12">
                <input type="submit" name="submit" value="Check" class="check-btn">
            </div>
        </form>
    </div>
</section>
<section class="case_studies_area sec_pad">
    <div class="container">
        <div class="seo_sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
            <h2>Our case studies</h2>
            <p>The full monty burke posh excuse my French Richard cheeky bobby spiffing crikey<br> Why gormless, pear shaped.!</p>
        </div>
        <div class="row">
            <div class="case_studies_slider owl-carousel">
                <div class="studies_item">
                    <img src="~/Caro/img\seo\xstudies_img_one.jpg.pagespeed.ic.gQfKrzCHyR.jpeg" alt="">
                    <div class="text">
                        <a href="#">
                            <h4>Content Marketing</h4>
                        </a>
                        <p><a href="#">Marketing,</a><a href="#">Seo</a></p>
                    </div>
                </div>
                <div class="studies_item">
                    <img src="~/Caro/img\seo\xstudies_img_two.jpg.pagespeed.ic.hIqRjzAJU4.jpeg" alt="">
                    <div class="text">
                        <a href="#">
                            <h4>Content Marketing</h4>
                        </a>
                        <p><a href="#">Marketing,</a><a href="#">Seo</a></p>
                    </div>
                </div>
                <div class="studies_item">
                    <img src="~/Caro/img\seo\xstudies_img_three.jpg.pagespeed.ic.d15WIASYMf.jpeg" alt="">
                    <div class="text">
                        <a href="#">
                            <h4>Content Marketing</h4>
                        </a>
                        <p><a href="#">Marketing,</a><a href="#">Seo</a></p>
                    </div>
                </div>
                <div class="studies_item">
                    <img src="~/Caro/img\seo\xstudies_img_one.jpg.pagespeed.ic.gQfKrzCHyR.jpeg" alt="">
                    <div class="text">
                        <a href="#">
                            <h4>Content Marketing</h4>
                        </a>
                        <p><a href="#">Marketing,</a><a href="#">Seo</a></p>
                    </div>
                </div>
                <div class="studies_item">
                    <img src="~/Caro/img\seo\xstudies_img_two.jpg.pagespeed.ic.hIqRjzAJU4.jpeg" alt="">
                    <div class="text">
                        <a href="#">
                            <h4>Content Marketing</h4>
                        </a>
                        <p><a href="#">Marketing,</a><a href="#">Seo</a></p>
                    </div>
                </div>
                <div class="studies_item">
                    <img src="~/Caro/img\seo\xstudies_img_three.jpg.pagespeed.ic.d15WIASYMf.jpeg" alt="">
                    <div class="text">
                        <a href="#">
                            <h4>Content Marketing</h4>
                        </a>
                        <p><a href="#">Marketing,</a><a href="#">Seo</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="seo_fact_area sec_pad">
    <div class="home_bubble">
        <div class="bubble b_one"></div>
        <div class="bubble b_three"></div>
        <div class="bubble b_four"></div>
        <div class="bubble b_six"></div>
        <div class="triangle b_eight" data-parallax='{"x": 120, "y": -10}'><img src="~/Caro/img\seo\xtriangle_one.png.pagespeed.ic.W1Sg01AM8I.png" alt=""></div>
    </div>
    <div class="container">
        <div class="seo_sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
            <h2>Over 1200+<br> completed work & Still counting.</h2>
        </div>
        <div class="seo_fact_info">
            <div class="seo_fact_item">
                <div class="text">
                    <div class="counter one">693</div>
                    <p>Happy Clients</p>
                </div>
            </div>
            <div class="seo_fact_item">
                <div class="text">
                    <div class="counter two">276</div>
                    <p>Projects</p>
                </div>
            </div>
            <div class="seo_fact_item">
                <div class="text">
                    <div class="counter three">102</div>
                    <p>SEO Winners</p>
                </div>
            </div>
            <div class="seo_fact_item last">
                <div class="text">
                    <div class="counter four">93</div>
                    <p>Experience</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="testimonial_area sec_pad">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 d-flex align-items-center">
                <div class="testimonial_title">
                    <div class="seo_sec_title wow fadeInUp" data-wow-delay="0.3s">
                        <h2>Check testimonials for<br> our satisfied clients</h2>
                        <p>That ummm I'm telling Why say bleeder smashing lemon squeezy tosser, cheesed off dropped.!</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="stratup_testimonial_info d-flex align-items-center">
                    <div class="testimonial_slider_four owl-carousel">
                        <div class="item">
                            <div class="author_img">
                                <img src="~/Caro/img\new\xmember_01.jpg.pagespeed.ic.SQWUxK9OF6.jpeg" alt="">
                            </div>
                            <p>He nicked it hanky panky Eaton naff it's your round quaint cheeky cheers, tomfoolery bonnet posh blimey what a plonker vagabond, zonked Elizabeth give us a bell.?</p>
                            <h5>Phillip Anthropy</h5>
                            <h6>UI/UX designer</h6>
                        </div>
                        <div class="item">
                            <div class="author_img">
                                <img src="~/Caro/img\new\xmember_01.jpg.pagespeed.ic.SQWUxK9OF6.jpeg" alt="">
                            </div>
                            <p>He nicked it hanky panky Eaton naff it's your round quaint cheeky cheers, tomfoolery bonnet posh blimey what a plonker vagabond, zonked Elizabeth give us a bell.?</p>
                            <h5>Phillip Anthropy</h5>
                            <h6>UI/UX designer</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="seo_partner_logo_area sec_pad">
    <div class="container">
        <div class="seo_sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
            <h2>Relied on marketers, trusted by engineers,<br> and beloved by executives, everyw here.</h2>
        </div>
        <div class="partner_logo_area_four">
            <div class="row partner_info">
                <div class="logo_item">
                    <a href="#"><img src="~/Caro/img\seo\xlogo_01.png.pagespeed.ic.bVP4t5-DLU.png" alt=""></a>
                </div>
                <div class="logo_item">
                    <a href="#"><img src="~/Caro/img\seo\xlogo_02.png.pagespeed.ic.29fzrneZuP.png" alt=""></a>
                </div>
                <div class="logo_item">
                    <a href="#"><img src="~/Caro/img\seo\xlogo_03.png.pagespeed.ic.GnOlyajusD.png" alt=""></a>
                </div>
                <div class="logo_item">
                    <a href="#"><img src="~/Caro/img\seo\xlogo_04.png.pagespeed.ic.JQj3eYn89v.png" alt=""></a>
                </div>
                <div class="logo_item">
                    <a href="#"><img src="~/Caro/img\seo\xlogo_05.png.pagespeed.ic.ahTKavN6nj.png" alt=""></a>
                </div>
                <div class="logo_item">
                    <a href="#"><img src="~/Caro/img\seo\xlogo_06.png.pagespeed.ic.PrBoZVJ5_M.png" alt=""></a>
                </div>
                <div class="logo_item">
                    <a href="#"><img src="~/Caro/img\seo\xlogo_07.png.pagespeed.ic.UCZUbO2Oxm.png" alt=""></a>
                </div>
                <div class="logo_item">
                    <a href="#"><img src="~/Caro/img\seo\xlogo_08.png.pagespeed.ic.r-eFtYPSA4.png" alt=""></a>
                </div>
                <div class="logo_item">
                    <a href="#"><img src="~/Caro/img\seo\xlogo_09.png.pagespeed.ic.fJbVqgD85F.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="seo_call_to_action_area sec_pad">
    <div class="container">
        <div class="seo_call_action_text">
            <h2>Ready to get started?<br> lt's fast, free and very easy!</h2>
            <a href="#" class="about_btn">Get a free Estimate</a>
        </div>
    </div>
</section>