
@{
    ViewData["Title"] = "SearchAvance";
}
http://droitthemes.com/html/saasland/home-hosting.html
<section class="domain_search_area sec_pad">
    <div class="map_bg"></div>
    <div class="container">
        <div class="domain_box_info">
            <h3 class="wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Looking for domain name?</h3>
            <form action="#" method="post">
                <div class="domain_form_inner">
                    <input type="text" class="form-control" placeholder="Enter your domain name">
                    <div class="domain_select">
                        <select class="form-control selectpickers" style="display: none;">
                            <option>.com</option>
                            <option>.net</option>
                            <option>.org</option>
                            <option>.biz</option>
                            <option>.uk</option>
                        </select><div class="nice-select form-control selectpickers" tabindex="0"><span class="current">.com</span><ul class="list"><li data-value=".com" class="option selected">.com</li><li data-value=".net" class="option">.net</li><li data-value=".org" class="option">.org</li><li data-value=".biz" class="option">.biz</li><li data-value=".uk" class="option">.uk</li></ul></div>
                    </div>
                    <button type="submit" class="hosting_btn">Search</button>
                </div>
            </form>
            <ul class="list-unstyled domain_price">
                <li>.com <span>$6.50</span></li>
                <li>.sg <span>$10</span></li>
                <li>.info <span>$11</span></li>
                <li>.co <span>$9.50</span></li>
                <li>.net <span>$7.50</span></li>
            </ul>
        </div>
    </div>
</section>

<section class="h_pricing_area sec_pad">
    <div class="container">
        <div class="hosting_title text-center">
            <h2>Check out awesome plans,<br>And order now</h2>
            <p>The full monty burke posh excuse my French Richard cheeky bobby spiffing crikey<br> Why gormless, pear shaped.!</p>
        </div>
        <div class="h_price_inner">
            <ul class="nav nav-tabs hosting_tab" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Standard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">CPU Optimized</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active show" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="true">General Purpose </a>
                </li>
            </ul>
            <div class="tab-content h_price_tab" id="myTabContent">
                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <p>Oxford William owt to do with me Why cuppa buggered, nancy boy get stuffed mate absolutely bladdered blag matie boy the full monty bobby bleeder.</p>
                    <div class="h_price_body">
                        <div class="price_head">
                            <div class="p_head">
                                <h5>Memory</h5>
                            </div>
                            <div class="p_head">
                                <h5>Vcpus</h5>
                            </div>
                            <div class="p_head">
                                <h5>Ssd disk</h5>
                            </div>
                            <div class="p_head">
                                <h5>Transfer</h5>
                            </div>
                            <div class="p_head">
                                <h5>Price</h5>
                            </div>
                            <div class="p_head c_width">

                            </div>
                        </div>
                        <div class="h_price_body">
                            <div class="h_p_list">
                                <div class="h_price_item memory" data-title="Memory">
                                    <h5>1 GB</h5>
                                </div>
                                <div class="h_price_item" data-title="Vcpus">
                                    <h5>1 vCPU</h5>
                                </div>
                                <div class="h_price_item" data-title="Ssd disk">
                                    <h5>125 GB</h5>
                                </div>
                                <div class="h_price_item" data-title="Transfer">
                                    <h5>1 TB</h5>
                                </div>
                                <div class="h_price_item" data-title="Price">
                                    <h5><span>$10/mo</span>$0.025/hr</h5>
                                </div>
                                <div class="h_price_item c_width">
                                    <h5><a href="#" class="h_price_btn">Choose Plan</a></h5>
                                </div>
                            </div>
                            <div class="h_p_list">
                                <div class="h_price_item memory" data-title="Memory">
                                    <h5>2 GB</h5>
                                </div>
                                <div class="h_price_item" data-title="Vcpus">
                                    <h5>2 vCPU</h5>
                                </div>
                                <div class="h_price_item" data-title="Ssd disk">
                                    <h5>100GB</h5>
                                </div>
                                <div class="h_price_item" data-title="Transfer">
                                    <h5>2 TB</h5>
                                </div>
                                <div class="h_price_item" data-title="Price">
                                    <h5><span>$15/mo</span>$0.025/hr</h5>
                                </div>
                                <div class="h_price_item c_width">
                                    <h5><a href="#" class="h_price_btn">Choose Plan</a></h5>
                                </div>
                            </div>
                            <div class="h_p_list">
                                <div class="h_price_item memory" data-title="Memory">
                                    <h5>3 GB</h5>
                                </div>
                                <div class="h_price_item" data-title="Vcpus">
                                    <h5>3 vCPU</h5>
                                </div>
                                <div class="h_price_item" data-title="Ssd disk">
                                    <h5>50GB</h5>
                                </div>
                                <div class="h_price_item" data-title="Transfer">
                                    <h5>3 TB</h5>
                                </div>
                                <div class="h_price_item" data-title="Price">
                                    <h5><span>$25/mo</span>$0.055/hr</h5>
                                </div>
                                <div class="h_price_item c_width">
                                    <h5><a href="#" class="h_price_btn">Choose Plan</a></h5>
                                </div>
                            </div>
                            <div class="h_p_list">
                                <div class="h_price_item memory" data-title="Memory">
                                    <h5>4 GB</h5>
                                </div>
                                <div class="h_price_item" data-title="Vcpus">
                                    <h5>4 vCPU</h5>
                                </div>
                                <div class="h_price_item" data-title="Ssd disk">
                                    <h5>120GB</h5>
                                </div>
                                <div class="h_price_item" data-title="Transfer">
                                    <h5>4 TB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5><span>$20/mo</span>$0.065/hr</h5>
                                </div>
                                <div class="h_price_item c_width">
                                    <h5><a href="#" class="h_price_btn">Choose Plan</a></h5>
                                </div>
                            </div>
                            <div class="h_p_list">
                                <div class="h_price_item memory" data-title="Memory">
                                    <h5>8 GB</h5>
                                </div>
                                <div class="h_price_item" data-title="Vcpus">
                                    <h5>5 vCPU</h5>
                                </div>
                                <div class="h_price_item" data-title="Ssd disk">
                                    <h5>120 GB</h5>
                                </div>
                                <div class="h_price_item" data-title="Transfer">
                                    <h5>5 TB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5><span>$75/mo</span>$0.725/hr</h5>
                                </div>
                                <div class="h_price_item c_width">
                                    <h5><a href="#" class="h_price_btn">Choose Plan</a></h5>
                                </div>
                            </div>
                            <div class="h_p_list">
                                <div class="h_price_item memory" data-title="Memory">
                                    <h5>16 GB</h5>
                                </div>
                                <div class="h_price_item" data-title="Vcpus">
                                    <h5>6 vCPU</h5>
                                </div>
                                <div class="h_price_item" data-title="Ssd disk">
                                    <h5>200GB</h5>
                                </div>
                                <div class="h_price_item" data-title="Transfer">
                                    <h5>6 TB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5><span>$120/mo</span>$0.0150/hr</h5>
                                </div>
                                <div class="h_price_item c_width">
                                    <h5><a href="#" class="h_price_btn">Choose Plan</a></h5>
                                </div>
                            </div>
                            <div class="h_p_list">
                                <div class="h_price_item memory" data-title="Memory">
                                    <h5>32 GB</h5>
                                </div>
                                <div class="h_price_item" data-title="Vcpus">
                                    <h5>3 vCPU</h5>
                                </div>
                                <div class="h_price_item" data-title="Ssd disk">
                                    <h5>100GB</h5>
                                </div>
                                <div class="h_price_item" data-title="Transfer">
                                    <h5>4 TB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5><span>$150/mo</span>$0.160/hr</h5>
                                </div>
                                <div class="h_price_item c_width">
                                    <h5><a href="#" class="h_price_btn">Choose Plan</a></h5>
                                </div>
                            </div>
                            <div class="h_p_list">
                                <div class="h_price_item memory" data-title="Memory">
                                    <h5>8 GB</h5>
                                </div>
                                <div class="h_price_item" data-title="Vcpus">
                                    <h5>1 vCPU</h5>
                                </div>
                                <div class="h_price_item" data-title="Ssd disk">
                                    <h5>120GB</h5>
                                </div>
                                <div class="h_price_item" data-title="Transfer">
                                    <h5>1 TB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5><span>$75/mo</span>$0.125/hr</h5>
                                </div>
                                <div class="h_price_item c_width">
                                    <h5><a href="#" class="h_price_btn">Choose Plan</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <p>Oxford William owt to do with me Why cuppa buggered, nancy boy get stuffed mate absolutely bladdered blag matie boy the full monty bobby bleeder.</p>
                    <div class="h_price_body">
                        <div class="price_head">
                            <div class="p_head">
                                <h5>Memory</h5>
                            </div>
                            <div class="p_head">
                                <h5>Vcpus</h5>
                            </div>
                            <div class="p_head">
                                <h5>Ssd disk</h5>
                            </div>
                            <div class="p_head">
                                <h5>Transfer</h5>
                            </div>
                            <div class="p_head">
                                <h5>Price</h5>
                            </div>
                            <div class="p_head c_width">

                            </div>
                        </div>
                        <div class="h_price_body">
                            <div class="h_p_list">
                                <div class="h_price_item memory" data-title="Memory">
                                    <h5>1 GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>1 vCPU</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>125 GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>1 TB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5><span>$10/mo</span>$0.025/hr</h5>
                                </div>
                                <div class="h_price_item c_width">
                                    <a href="#" class="h_price_btn">Choose Plan</a>
                                </div>
                            </div>
                            <div class="h_p_list">
                                <div class="h_price_item memory">
                                    <h5>2 GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>2 vCPU</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>100GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>2 TB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5><span>$15/mo</span>$0.025/hr</h5>
                                </div>
                                <div class="h_price_item c_width">
                                    <a href="#" class="h_price_btn">Choose Plan</a>
                                </div>
                            </div>
                            <div class="h_p_list">
                                <div class="h_price_item memory">
                                    <h5>3 GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>3 vCPU</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>50GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>3 TB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5><span>$25/mo</span>$0.055/hr</h5>
                                </div>
                                <div class="h_price_item c_width">
                                    <a href="#" class="h_price_btn">Choose Plan</a>
                                </div>
                            </div>
                            <div class="h_p_list">
                                <div class="h_price_item memory">
                                    <h5>4 GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>4 vCPU</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>120GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>4 TB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5><span>$20/mo</span>$0.065/hr</h5>
                                </div>
                                <div class="h_price_item c_width">
                                    <a href="#" class="h_price_btn">Choose Plan</a>
                                </div>
                            </div>
                            <div class="h_p_list">
                                <div class="h_price_item memory">
                                    <h5>8 GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>5 vCPU</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>120 GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>5 TB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5><span>$75/mo</span>$0.725/hr</h5>
                                </div>
                                <div class="h_price_item c_width">
                                    <a href="#" class="h_price_btn">Choose Plan</a>
                                </div>
                            </div>
                            <div class="h_p_list">
                                <div class="h_price_item memory">
                                    <h5>16 GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>6 vCPU</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>200GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>6 TB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5><span>$120/mo</span>$0.0150/hr</h5>
                                </div>
                                <div class="h_price_item c_width">
                                    <a href="#" class="h_price_btn">Choose Plan</a>
                                </div>
                            </div>
                            <div class="h_p_list">
                                <div class="h_price_item memory">
                                    <h5>32 GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>3 vCPU</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>100GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>4 TB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5><span>$150/mo</span>$0.160/hr</h5>
                                </div>
                                <div class="h_price_item c_width">
                                    <a href="#" class="h_price_btn">Choose Plan</a>
                                </div>
                            </div>
                            <div class="h_p_list">
                                <div class="h_price_item memory">
                                    <h5>8 GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>1 vCPU</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>120GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>1 TB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5><span>$75/mo</span>$0.125/hr</h5>
                                </div>
                                <div class="h_price_item c_width">
                                    <a href="#" class="h_price_btn">Choose Plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade active show" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <p>Oxford William owt to do with me Why cuppa buggered, nancy boy get stuffed mate absolutely bladdered blag matie boy the full monty bobby bleeder.</p>
                    <div class="h_price_body">
                        <div class="price_head">
                            <div class="p_head">
                                <h5>Memory</h5>
                            </div>
                            <div class="p_head">
                                <h5>Vcpus</h5>
                            </div>
                            <div class="p_head">
                                <h5>Ssd disk</h5>
                            </div>
                            <div class="p_head">
                                <h5>Transfer</h5>
                            </div>
                            <div class="p_head">
                                <h5>Price</h5>
                            </div>
                            <div class="p_head">

                            </div>
                        </div>
                        <div class="h_price_body">
                            <div class="h_p_list">
                                <div class="h_price_item memory">
                                    <h5>1 GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>1 vCPU</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>125 GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>1 TB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5><span>$10/mo</span>$0.025/hr</h5>
                                </div>
                                <div class="h_price_item">
                                    <a href="#" class="h_price_btn">Choose Plan</a>
                                </div>
                            </div>
                            <div class="h_p_list">
                                <div class="h_price_item memory">
                                    <h5>2 GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>2 vCPU</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>100GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>2 TB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5><span>$15/mo</span>$0.025/hr</h5>
                                </div>
                                <div class="h_price_item">
                                    <a href="#" class="h_price_btn">Choose Plan</a>
                                </div>
                            </div>
                            <div class="h_p_list">
                                <div class="h_price_item memory">
                                    <h5>3 GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>3 vCPU</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>50GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>3 TB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5><span>$25/mo</span>$0.055/hr</h5>
                                </div>
                                <div class="h_price_item">
                                    <a href="#" class="h_price_btn">Choose Plan</a>
                                </div>
                            </div>
                            <div class="h_p_list">
                                <div class="h_price_item memory">
                                    <h5>4 GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>4 vCPU</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>120GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>4 TB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5><span>$20/mo</span>$0.065/hr</h5>
                                </div>
                                <div class="h_price_item">
                                    <a href="#" class="h_price_btn">Choose Plan</a>
                                </div>
                            </div>
                            <div class="h_p_list">
                                <div class="h_price_item memory">
                                    <h5>8 GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>5 vCPU</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>120 GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>5 TB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5><span>$75/mo</span>$0.725/hr</h5>
                                </div>
                                <div class="h_price_item">
                                    <a href="#" class="h_price_btn">Choose Plan</a>
                                </div>
                            </div>
                            <div class="h_p_list">
                                <div class="h_price_item memory">
                                    <h5>16 GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>6 vCPU</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>200GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>6 TB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5><span>$120/mo</span>$0.0150/hr</h5>
                                </div>
                                <div class="h_price_item">
                                    <a href="#" class="h_price_btn">Choose Plan</a>
                                </div>
                            </div>
                            <div class="h_p_list">
                                <div class="h_price_item memory">
                                    <h5>32 GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>3 vCPU</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>100GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>4 TB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5><span>$150/mo</span>$0.160/hr</h5>
                                </div>
                                <div class="h_price_item">
                                    <a href="#" class="h_price_btn">Choose Plan</a>
                                </div>
                            </div>
                            <div class="h_p_list">
                                <div class="h_price_item memory">
                                    <h5>8 GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>1 vCPU</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>120GB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5>1 TB</h5>
                                </div>
                                <div class="h_price_item">
                                    <h5><span>$75/mo</span>$0.125/hr</h5>
                                </div>
                                <div class="h_price_item">
                                    <a href="#" class="h_price_btn">Choose Plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>