
@{
    ViewData["Title"] = "Services";
}

<section class="service_promo_area">
    All Virtual Assistants have a different skill sets.

    Here are the services that Sharp Assistance can provide for you. This list is not exhaustive, if you have a project you want help with, but it isn’t listed below, please get in touch to discuss your needs.

    Data Inputting
    Documentation Preparation
    Proof Reading
    Compiling Documents
    Social Media Content
    Social Media Management
    Collating Information
    Online Research
    Set Up of Social Media Platforms
    Event Coordination
    Travel Arrangements
    Credit Control
    Diary and Calendar Management
    Lifestyle Management – All Personal Duties – Sending Gifts, Paying Bills, Organising House Moves

</section>