
@{
    ViewData["Title"] = "WhatIs";
}
<section class="service_promo_area">
    <h1>AboutCaro</h1>
    <br />

    <h1>WhatIs</h1>

    One of the most common question asked is, ‘What is it you actually do? What is a Virtual Assistant?’

    It’s simple, a Virtual Assistant, can do anything and everything that you would expect of a Personal Assistant, or an Administrator, except we can’t bring you a cup of tea, or hand you the day’s newspaper. Sorry.

    Services that you can expect a virtual assistant can range from answering the phone, compiling documents, organising business trips, to managing social media platforms. All Virtual Assistants have a different set of skills, compared to one another.

    Some of the benefits of having a Virtual Assistant include;

    Paying for the time actually spent on your project, no more lazy Friday afternoons at your expense
    No office space required, your Virtual Assistant works from their own home office
    Allowing you time to focus on your business, leaving the boring paperwork to someone else
    No HR headaches, no TAX, no National Insurance or having to organise yet another workplace pension
    If you are still unsure whether or not a Virtual Assistant is the right step for you, please do not hesitate to contact me, and we can discuss your needs.

    For a list of services that Sharp Assistance specialises in, please see our Services page.


</section>